:root {
  --bg: #7c7c7c;
  --bg-cell: #f2f2f2;
  --filled-bg: #d9d9d9;
  --text-color: #222222;
  --alt-text-color:#fff;

  --selected: #ffdbb3;
  --highLighted: #fff3e5;
  --error: #ff8c8c;

  --gap: 0.5vmin;
  --border-radius: 0.5vmin;
  --cell-size: 7vmin;
  --font-size: 3vmin;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--bg);
  font-family: Arial, Helvetica, sans-serif;
  user-select: none;

}

.wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(9, auto);
  grid-template-rows: repeat(9, auto);
  gap: var(--gap);
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--cell-size);
  width: var(--cell-size);
  border-radius: var(--border-radius);
  background-color: var(--bg-cell);
  color: var(--text-color);
  font-size: var(--font-size);
  cursor: pointer;
}

.cell:nth-child(3),
.cell:nth-child(6) {
  margin-right: var(--gap);
}

.cell:nth-child(19),
.cell:nth-child(46) {
  margin-bottom: var(--gap);
}

.cell.filled {
  transition: .2s ease-in-out;
  background-color: var(--filled-bg);
}

.cell.highLighted {
  background-color: var(--highLighted);
}

.cell.selected {
  transition: .2s ease-in-out;
  background-color: var(--selected);
}

.cell.error {
  background-color: var(--error);
  color: var(--alt-text-color);
}

.wrap_lvl{
  align-items: center;
  margin-top: 2vmin;
  display: flex;
  justify-content: space-between;
  
}
.lablel_lvl{
  margin-left: 2vmin;
  font-size: var(--font-size);

}
.lvl{
width:calc(var(--cell-size)*4) ;
accent-color: var(--selected);
}
.btn_lvl{
  align-items: center;
  height: var(--cell-size);
  padding: 0 calc(var(--font-size)*0.2);
  border-radius: var(--border-radius);
  background-color: var(--bg-cell);
  font-size: calc(var(--font-size)*0.8);
  color: var(--text-color);
  cursor: pointer;
}
  

.numbers {
  display: grid;
  grid-template-columns: repeat(5, auto);
  gap: var(--gap);
  margin-top: 2vmin;
}

.number,
.remove {
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--cell-size);
  border-radius: var(--border-radius);
  background-color: var(--bg-cell);
  font-size: var(--font-size);
  color: var(--text-color);
  cursor: pointer;
}

.shake{
  animation: shake .5s ease-in-out;
}

@keyframes shake{
  0%{
    transform: scale(1.2);
  }
  25%{
    transform: scale(1.2) rotate(30deg);
  }
  50%{
    transform: scale(1.2) rotate(-30deg);
  }
}

.zoom{
  animation: zoom .5s ease-in-out;
}

@keyframes zoom{
  0%{
    transform: scale(1.2);
  }
}

@media (max-width:600px) {
  :root{
   
    --cell-size: 9vmin;
    --font-size: 5.5vmin;
  }
}